# Python
backend/.venv/
__pycache__/
*.pyc

# Sample rasume files
sample_resumes/

# Environment variables
backend/.env
backend/.env.*
!backend/.env.example
frontend/.env
frontend/.env.*
!frontend/.env.example

## VS Code
.vscode/
